@font-face {
    font-family: 'Genericons';
    src: url('fonts/Genericons.woff');
}

body {
    max-width: 1200px;
    margin: 0rem auto;
    padding-top: 0rem;
    font-family: 'Roboto Condensed', sans-serif;
}

/* ========== styling header ==========  */

.row {
    margin: 0rem;
}

.weather-icon {
    width: 1.4rem;
}

#header {
    background-color: red;
    fill: white;
}

.col-5 svg {
    width: 23rem;
}

#nav-1.nav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
}

#nav-1 .nav-link {
    color: black;
    font-weight: bold;
    border-right: 0.01rem solid rgb(224, 224, 224); 
    line-height: 0.6rem;
}

#nav-2 {
    border-top: 0.01rem solid rgb(224, 224, 224);
    border-bottom: 0.01rem solid rgb(224, 224, 224);
    padding-left: 0rem;
    padding-right: 0rem;
}

#nav-2 .nav-link {
    color: black;
    font-weight: 600;
    font-size: 0.9rem;
    color: rgb(143, 143, 143);
}

.bg-gray {
    background-color: rgb(241, 241, 241);
}
.bg-red {
    background-color: red;
    color: white;
}

@media screen and (max-width: 1024px){
    #header > div:nth-child(3) * {
        display: none;
    }
}
@media screen and (max-width: 766px){
    #header > div:nth-child(1) * {
        display: none;
    }
}


/* ========== styling main section =========  */

.gray-header {
    font-weight: bold;
    color: rgb(128, 128, 128);
}

.gray-header-small {
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(128, 128, 128);
    padding-top: unset;
    margin: unset;
    margin-top: 1rem;
}

#main-section {
    margin-top: 1rem;
    min-height: 50rem;
}

.card{
    border: none;
    border-radius: unset;
    margin-top: 1rem;
}
.card-img-top{
    border-radius: unset;
}
.card-body{
    padding: unset;
}
.card-title{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.1rem;
    font-weight: 800;
}
.card-text{
    font-size: 0.8rem;
    color: rgb(95, 95, 95);
}

.media-title {
    font-weight: bold;
    font-size: 0.9rem;
}

.media-text {
    font-size: 0.8rem;
}

.media > img {
    margin-right: 1rem;
}


/* ---------- styling main-left section ----------  */



/* ---------- styling middle section ----------  */

 

/* ---------- styling right section ----------  */


#right-section .media img {
    max-width: 4rem;
}

#right-section .card {
    border: 0.001rem solid rgb(156, 149, 149);
}

/* ========== footer ========== */

header > .nav.float-right a {
    color: rgb(141, 141, 141);
    font-size: 1.5rem;
}

footer > ul {
    font-size: 0.8rem;
    height: 1.8rem;
    line-height: 0.8rem;
    font-weight: bold;
}
footer  > ul a.nav-link {
    padding-top: unset;
    padding-bottom: unset;
    border-right: 0.001rem solid rgb(201, 201, 201);
    color: rgb(146, 146, 146);
}

.long-nav {
    padding-top: unset;
    padding-bottom: unset;
    border-right: 0.001rem solid rgb(201, 201, 201);
    color: rgb(146, 146, 146);
    font-weight: 100;
}

.long-nav a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
